.App {
  text-align: center;
}

li.waves-effect.active {
  background-color: #ff3d00;
}

.header {
  font-family: 'Open Sans Condensed', sans-serif;
}

.header h1 {
  font-family: 'Over the Rainbow', cursive;
}

.small-header {
  font-family: 'Raleway', sans-serif;
}

.kitten-row{
  display: table;
  width: 100%;
  padding: 70px;
}

.kitten-col {
  display: table-cell;
}

.kitten-card {
  height: 500px;
}

.kitten-card h2 {
  font-family: 'Raleway', sans-serif;
}

.kitten-card h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.kitten-card h5 {
  font-family: 'Over the Rainbow', cursive;
}

.pagination {
  padding: 0 40px 40px 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
